
<% include partials/header %>
<h1> create a new campground</h1>

<form action="/campground" method="POST">
    
    <input type="text" placeholder='partname'name='partname'>
    <input type="text" placeholder='imgurl' name='img'>
    <button> Submit</button>
</form>


<% include partials/footer %>